{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "airbnb/hooks", "airbnb-typescript", "prettier/@typescript-eslint","plugin:prettier/recommended"],
    "parserOptions": {"project": "./tsconfig.json"}
  }
  